<!DOCTYPE html>
<html>

  <head>

    <title>Covidxray</title>
    <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='/static/img/icons/android-icon-192x192.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
    <meta name="description" content="Admin Panel with Argon Design crafted by Creative-Tim and coded in Flask  with SQLite database, ORM and authentication.">

    {% include 'includes/header.html' %}

  </head>

<body>

  {% include 'includes/sidenav.html' %}

  {{ content | safe }}

  {% include 'includes/scripts.html' %}

</body>

</html>




