<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Covid-19 X-Ray</title>
   
    <link rel="icon" href="{{ url_for('static',filename='icon/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='icon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='icon/favicon-16x16.png') }}">
 

    <!-- Meta for SEO -->
    <meta name="description"
          content="Chest x-ray can be a fast, effective, and affordable test to evaluate coronavirus-related pneumonia. We suggest the use of AI as a supportive tool for the interpretation of chest x-ray exams, as below.">
    <meta name="og:site_name" content="A2A Digital">
    <meta property="og:type"  content="website" />
    <meta property="og:image" content="https://www.covidxray.org/static/pictures/doctorspraying.png">
    <meta property="og:title" content="Covid-xray">
    <meta property="og:description"
          content="Chest x-ray can be a fast, effective, and affordable test to evaluate coronavirus-related pneumonia. We suggest the use of AI as a supportive tool for the interpretation of chest x-ray exams, as below.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://www.covidxray.org">
    <meta name="twitter:image" content="https://www.covidxray.org/static/pictures/doctorspraying.png">
    <meta name="twitter:title" content="Covid-xray">
    <meta name="twitter:description"
          content="Chest x-ray can be a fast, effective, and affordable test to evaluate coronavirus-related pneumonia. We suggest the use of AI as a supportive tool for the interpretation of chest x-ray exams, as below.">
    <meta itemprop="description"
          content="Chest x-ray can be a fast, effective, and affordable test to evaluate coronavirus-related pneumonia. We suggest the use of AI as a supportive tool for the interpretation of chest x-ray exams, as below.">
    <meta itemprop="image" content="https://www.covidxray.org/static/pictures/doctorspraying.png">
    <meta property="og:locale">
    <link rel="canonical">
    <meta name="keywords">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark nav-bar-maincolor">
      <div class="container">
          <a class="navbar-brand" href="#">Covid X-Ray</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
              aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExample07">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                      <button type="button" class="btn btn-warning">Feedback</button>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="#">What is your thought?<span class="sr-only">(current)</span></a>
                  </li>
              </ul>
          </div>
      </div>
    </nav>

    {% block content %}{% endblock %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Upload</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="main">
              <div class="panel">
                <input id="file-upload" class="hidden" type="file" accept="image/x-png,image/gif,image/jpeg" />
                <label for="file-upload" id="file-drag" class="upload-box">
                  <div id="upload-caption">Drop image here or click to select</div>
                  <img id="image-preview" class="hidden" />
                </label>
              </div>
              <div style="margin-bottom: 2rem;">
                <input type="button" value="Submit" class="button" onclick="submitImage();" />
                <input type="button" value="Clear" class="button" onclick="clearImage();" />
              </div>
            
              <div id="result-box">
                <div id="image-box">
                  <img id="image-display" />
                  <div id="pred-result" class="hidden"></div>
                  <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32">
                    <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
                  </svg>
                </div>
                <div id="chart-container"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer style="margin-top: 35px;">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#">CovidX-Ray</a>
    </div>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
  </footer>
</html>