<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Covid-19 X-Ray</title>
<link rel="icon" sizes="192x192" href="/static/assets/img/icons/android-icon-192x192.png">
<link rel="manifest" href="/static/manifest.json" />
<link rel="icon" href="">
<link rel="icon" type="image/png" sizes="32x32" href="">
<link rel="icon" type="image/png" sizes="16x16" href="">


<!-- Meta for SEO -->
<meta name="description"
      content="Chest x-ray can be a fast, effective, and affordable test to evaluate coronavirus-related pneumonia. We suggest the use of AI as a supportive tool for the interpretation of chest x-ray exams, as below.">
<meta name="og:site_name" content="A2A Digital">
<meta property="og:type"  content="website" />
<meta property="og:image" content="https://www.covidxray.org/static/pictures/doctorspraying.png">
<meta property="og:title" content="Covid-xray">
<meta property="og:description"
      content="Chest x-ray can be a fast, effective, and affordable test to evaluate coronavirus-related pneumonia. We suggest the use of AI as a supportive tool for the interpretation of chest x-ray exams, as below.">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://www.covidxray.org">
<meta name="twitter:image" content="https://www.covidxray.org/static/pictures/doctorspraying.png">
<meta name="twitter:title" content="Covid-xray">
<meta name="twitter:description"
      content="Chest x-ray can be a fast, effective, and affordable test to evaluate coronavirus-related pneumonia. We suggest the use of AI as a supportive tool for the interpretation of chest x-ray exams, as below.">
<meta itemprop="description"
      content="Chest x-ray can be a fast, effective, and affordable test to evaluate coronavirus-related pneumonia. We suggest the use of AI as a supportive tool for the interpretation of chest x-ray exams, as below.">
<meta itemprop="image" content="https://www.covidxray.org/static/pictures/doctorspraying.png">
<meta property="og:locale">
<link rel="canonical">
<meta name="keywords">
<link type="text/css" href="/static/assets/css/main.css?v=1.0.0" rel="stylesheet">
<link type="text/css" href="/static/assets/css/style.css?v=1.0.0" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link type="text/css" href="/static/assets/css/timeline.css?v=1.0.0" rel="stylesheet">